.card {
    margin-bottom: 20px;
}

.btn-cool {
    margin: 5px;
}

.card-buttons-container {
    text-align: center;
}

.input-cool {
    margin-top: 30px;
}

.btn-cool-large {
    margin-top: 10px;
    width: 40%;
}